Stratux_Traffic_to_Various_Endpoints.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Ingest Stratux data from WS and output to Phoenix, Kafka, InfluxDB</description>
    <groupId>d7dfc56b-017c-1000-5c59-152147a2c09a</groupId>
    <name>Stratux Traffic to Various Endpoints</name>
    <snippet>
        <processGroups>
            <id>01822610-6c3c-38de-0000-000000000000</id>
            <parentGroupId>00018d85-57d7-3711-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>01822610-6c3c-38de-a66e-7e8cd5ff414f</versionedComponentId>
            <comments></comments>
            <contents>
                <controllerServices>
                    <id>13a8a404-9e21-3acf-0000-000000000000</id>
                    <parentGroupId>01822610-6c3c-38de-0000-000000000000</parentGroupId>
                    <versionedComponentId>3438d7cb-f0ff-3392-a7a1-bd90db12e38b</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.1.1.0-13</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
<name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
<dependencies>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>Schema Write Strategy</propertyName>
</dependencies>
<name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>
<name>Pretty Print JSON</name>
                            </value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>
<name>suppress-nulls</name>
                            </value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>
<name>output-grouping</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
<name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>
<dependencies>
    <dependentValues>gzip</dependentValues>
    <propertyName>compression-format</propertyName>
</dependencies>
<name>compression-level</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonRecordSetWriter-StratuxTraffic</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>hwx-schema-ref-attributes</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>ff3a22d2-d3d3-3073-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                        <entry>
                            <key>Pretty Print JSON</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>suppress-nulls</key>
                            <value>never-suppress</value>
                        </entry>
                        <entry>
                            <key>output-grouping</key>
                            <value>output-oneline</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>none</value>
                        </entry>
                        <entry>
                            <key>compression-level</key>
                            <value>1</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>43130a17-ba46-30d5-0000-000000000000</id>
                    <parentGroupId>01822610-6c3c-38de-0000-000000000000</parentGroupId>
                    <versionedComponentId>537c1f86-c733-3fd2-bfa6-96d8259d0ca5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.1.1.0-13</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<dependencies>
    <dependentValues>confluent-encoded</dependentValues>
    <dependentValues>schema-name</dependentValues>
    <dependentValues>hwx-schema-ref-attributes</dependentValues>
    <dependentValues>hwx-content-encoded-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<dependencies>
    <dependentValues>schema-name</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<dependencies>
    <dependentValues>schema-text-property</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<dependencies>
    <dependentValues>infer-schema</dependentValues>
    <propertyName>schema-access-strategy</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader-StratuxTraffic</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>schema-name</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>ff3a22d2-d3d3-3073-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>4676cdcc-da69-32d0-0000-000000000000</id>
                    <parentGroupId>01822610-6c3c-38de-0000-000000000000</parentGroupId>
                    <versionedComponentId>a22b1a87-b6c6-382a-8afa-d48b41cc2cdc</versionedComponentId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.1.1.0-13</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>phoenix.schema.isNamespaceMappingEnabled</key>
                            <value>
<name>phoenix.schema.isNamespaceMappingEnabled</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>DBCPConnectionPool-Phoenix</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>#{phoenix_url}</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>org.apache.phoenix.jdbc.PhoenixDriver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>#{phoenix_driver}</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>admin</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>500 millis</value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>0</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>30 mins</value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>-1</value>
                        </entry>
                        <entry>
                            <key>phoenix.schema.isNamespaceMappingEnabled</key>
                            <value>true</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>ff3a22d2-d3d3-3073-0000-000000000000</id>
                    <parentGroupId>01822610-6c3c-38de-0000-000000000000</parentGroupId>
                    <versionedComponentId>e34703ed-fab6-3677-8ea4-c3344fd25072</versionedComponentId>
                    <bundle>
                        <artifact>nifi-hwx-schema-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.13.2.2.1.1.0-13</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>url</key>
                            <value>
<name>url</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
<name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                            <value>
<name>cache-expiration</name>
                            </value>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>ssl-context-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                            <value>
<name>kerberos-principal</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                            <value>
<name>kerberos-password</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>HwxSchemaRegistry-All</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>url</key>
                            <value>#{schema_registry}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>cache-expiration</key>
                            <value>5 minutes</value>
                        </entry>
                        <entry>
                            <key>ssl-context-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>kerberos-principal</key>
                        </entry>
                        <entry>
                            <key>kerberos-password</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.schemaregistry.hortonworks.HortonworksSchemaRegistry</type>
                </controllerServices>
                <processGroups>
                    <id>5b75c9c1-d2a6-3cd5-0000-000000000000</id>
                    <parentGroupId>01822610-6c3c-38de-0000-000000000000</parentGroupId>
                    <position>
                        <x>560.0</x>
                        <y>256.0</y>
                    </position>
                    <versionedComponentId>5b75c9c1-d2a6-3cd5-a862-1db7d9b05a90</versionedComponentId>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>01ac66cc-223f-3771-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>01ac66cc-223f-3771-9a8b-1243149cb29f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>1a2ea72c-f2d6-3b4b-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>0c8624ea-7b55-3f18-ab08-3fbac0e7099d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>158d2e43-36e2-3937-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>158d2e43-36e2-3937-ab2b-6e1b80ade355</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>1c46ec34-cbe9-3352-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>b770e8cc-64a1-3be7-959f-5ac33ca8b82e</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>5ffcdb73-7442-3475-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>1ee423eb-ef50-30e9-b7c4-94f8fbf4d27c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>88030485-847f-3834-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f40aa924-7bd5-34ed-ad5b-4f3cd79effd9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>28107994-cd7d-322c-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>28107994-cd7d-322c-aa54-2ba02bb304d0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>8a1eafa6-3b6b-3ac0-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a1eafa6-3b6b-3ac0-b457-0858d7a32286</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>158d2e43-36e2-3937-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>158d2e43-36e2-3937-ab2b-6e1b80ade355</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>2845852f-2708-3e0a-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>24de4c27-6c0d-3a00-acab-b650b4eb68d6</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>e018cfb4-3e7b-315c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d5869d1d-25eb-3368-9b4e-969c92a8c951</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>f48a33ca-2f28-3be9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>03e9742e-63ae-3d26-9d37-beb32eaf450f</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>399800b9-3da2-366b-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>399800b9-3da2-366b-b3f7-9d736d31a613</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>1a2ea72c-f2d6-3b4b-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>0c8624ea-7b55-3f18-ab08-3fbac0e7099d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>323d1bf4-56ef-3b4c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>323d1bf4-56ef-3b4c-87af-09012d8ded6c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3a22a158-3ab9-3875-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>3a22a158-3ab9-3875-8500-0441a090fae5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>acde3a08-4dd3-352f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>323d1bf4-56ef-3b4c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>323d1bf4-56ef-3b4c-87af-09012d8ded6c</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>3ea5c906-a24a-3f91-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>3ea5c906-a24a-3f91-8610-07f2c63b12f0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>0ebe233b-7931-3fd5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>04dce2cd-45ef-35a3-b8da-09086cfc04ad</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>acde3a08-4dd3-352f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>466c22cc-ac8f-38de-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>466c22cc-ac8f-38de-8d41-9b2c52fe15b5</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>f48a33ca-2f28-3be9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>03e9742e-63ae-3d26-9d37-beb32eaf450f</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>acde3a08-4dd3-352f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4b6cca4e-b748-3fa2-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>0c347324-8a8f-3cad-b0e1-52bff2cffdd0</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>88030485-847f-3834-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f40aa924-7bd5-34ed-ad5b-4f3cd79effd9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>a9aa12f8-afd5-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e582fb26-431c-3827-b7f8-9ba81cbb90b1</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>57eb99ee-a015-3891-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>57eb99ee-a015-3891-b2f1-28c2cd1433cb</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>d75462f4-f37d-36a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6a809cb4-0dc3-34dc-9925-7bc66813b780</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>acde3a08-4dd3-352f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>648caed9-cc9e-3920-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>8a7fadb2-a682-31db-8d03-f4aa07ae43b3</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1560.6153576951792</x>
<y>-96.32554209842601</y>
                            </bends>
                            <bends>
<x>1623.3104248046875</x>
<y>-47.90782928466797</y>
                            </bends>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>c3424108-56fb-3c74-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>3f8d7b59-23b9-3bd4-987c-6b7328bdf5ba</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>2944b9f5-d0f5-3ed8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a7cb529-f488-3d4b-a321-3df600f59aee</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6cca0293-22d2-3c82-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>3e0734ef-fa98-34b5-9c13-0e75db6c892c</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>5ffcdb73-7442-3475-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>1ee423eb-ef50-30e9-b7c4-94f8fbf4d27c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>78c38057-f961-32a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>aefbf3b1-a29f-3de8-9820-89c278f45041</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6e057246-0c02-3068-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>d0397df9-d638-31ff-abcc-96178198b89f</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1701.113506680033</x>
<y>1425.40897965032</y>
                            </bends>
                            <bends>
<x>1701.113506680033</x>
<y>1475.40897965032</y>
                            </bends>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>88030485-847f-3834-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f40aa924-7bd5-34ed-ad5b-4f3cd79effd9</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure-max-size</selectedRelationships>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>88030485-847f-3834-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>f40aa924-7bd5-34ed-ad5b-4f3cd79effd9</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>73ba543a-a337-3631-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>73ba543a-a337-3631-8a24-592dc53c079b</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>158d2e43-36e2-3937-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>158d2e43-36e2-3937-ab2b-6e1b80ade355</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>ecab1a5d-ffdf-343f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>26aa5666-036d-3a99-9d21-fb4de663d02a</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>7520d8c0-1bc6-3c1e-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>7520d8c0-1bc6-3c1e-8d17-b98df4375735</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>1a2ea72c-f2d6-3b4b-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>0c8624ea-7b55-3f18-ab08-3fbac0e7099d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>8a1eafa6-3b6b-3ac0-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a1eafa6-3b6b-3ac0-b457-0858d7a32286</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>878c66d5-2a40-3ea9-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>93c9fbe0-a701-3573-a439-53f2c148d508</versionedComponentId>
                            <backPressureDataSizeThreshold>2 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>200000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>fcc45b37-71fd-38d7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcc45b37-71fd-38d7-8dbd-8e6ea3821096</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>text message</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>d349231a-e71b-3f8c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>15416180-1e9f-3027-8151-8bdd05d47815</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8bf998d0-f3e4-3bac-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>2adf38dd-0653-36f0-b165-7bde647edb95</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>25b77bdc-8a3d-31e9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0442f260-6848-3491-bbbd-6b5c348a8485</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>0ebe233b-7931-3fd5-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>04dce2cd-45ef-35a3-b8da-09086cfc04ad</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>97003dee-4aa0-359a-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>97003dee-4aa0-359a-aeff-dd02ad1b9c2a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>323d1bf4-56ef-3b4c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>323d1bf4-56ef-3b4c-87af-09012d8ded6c</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>8a1eafa6-3b6b-3ac0-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a1eafa6-3b6b-3ac0-b457-0858d7a32286</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>a8a748c0-c9ca-30f9-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>c3b926c2-c5a9-3326-9e0c-efd3be3e5887</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>30000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>2944b9f5-d0f5-3ed8-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>8a7cb529-f488-3d4b-a321-3df600f59aee</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>fb018579-8541-3ecc-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>c957d5b0-18b5-3d90-8179-aa921ce26a9e</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b9460f8c-0cde-3d2d-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>886aff7d-087f-3827-9745-d5f32218cf27</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>624.0</x>
<y>1536.0</y>
                            </bends>
                            <bends>
<x>640.0</x>
<y>1472.0</y>
                            </bends>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>78c38057-f961-32a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>aefbf3b1-a29f-3de8-9820-89c278f45041</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>0</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>78c38057-f961-32a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>aefbf3b1-a29f-3de8-9820-89c278f45041</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>babf02d2-5c38-3307-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>574f17fe-d171-3899-a7b4-f8194d2ca746</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1052.7630992356846</x>
<y>1023.8821544457112</y>
                            </bends>
                            <bends>
<x>1052.7630992356846</x>
<y>1073.8821544457112</y>
                            </bends>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>d75462f4-f37d-36a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6a809cb4-0dc3-34dc-9925-7bc66813b780</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>d75462f4-f37d-36a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>6a809cb4-0dc3-34dc-9925-7bc66813b780</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c739e364-af0a-3191-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>6feeb7bf-580e-3dce-8620-69ffceffe207</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>a9aa12f8-afd5-35c1-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>e582fb26-431c-3827-b7f8-9ba81cbb90b1</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>e018cfb4-3e7b-315c-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>d5869d1d-25eb-3368-9b4e-969c92a8c951</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>cda8497f-71d6-37a3-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>afda2759-0937-3f6e-9753-2798ecc3a80a</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>100000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>78c38057-f961-32a2-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>aefbf3b1-a29f-3de8-9820-89c278f45041</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>25b77bdc-8a3d-31e9-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>0442f260-6848-3491-bbbd-6b5c348a8485</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>d908e6f7-f474-39c3-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>d908e6f7-f474-39c3-a8f1-c732569244bf</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>1a2ea72c-f2d6-3b4b-0000-000000000000</id>
<type>FUNNEL</type>
<versionedComponentId>0c8624ea-7b55-3f18-ab08-3fbac0e7099d</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>acde3a08-4dd3-352f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e69b0a7d-2675-3c79-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>e69b0a7d-2675-3c79-92e4-b99ff666c367</versionedComponentId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>ecab1a5d-ffdf-343f-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>26aa5666-036d-3a99-9d21-fb4de663d02a</versionedComponentId>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>5b75c9c1-d2a6-3cd5-0000-000000000000</groupId>
<id>fcc45b37-71fd-38d7-0000-000000000000</id>
<type>PROCESSOR</type>
<versionedComponentId>fcc45b37-71fd-38d7-8dbd-8e6ea3821096</versionedComponentId>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>d89bd728-0091-3caf-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <versionedComponentId>8e99dfbc-1a69-377d-8e52-1c6b9b81bf29</versionedComponentId>
                            <bundle>
<artifact>nifi-websocket-services-jetty-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>input-buffer-size</key>
    <value>
        <name>input-buffer-size</name>
    </value>
</entry>
<entry>
    <key>max-text-message-size</key>
    <value>
        <name>max-text-message-size</name>
    </value>
</entry>
<entry>
    <key>max-binary-message-size</key>
    <value>
        <name>max-binary-message-size</name>
    </value>
</entry>
<entry>
    <key>websocket-uri</key>
    <value>
        <name>websocket-uri</name>
    </value>
</entry>
<entry>
    <key>ssl-context-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
        <name>ssl-context-service</name>
    </value>
</entry>
<entry>
    <key>connection-timeout</key>
    <value>
        <name>connection-timeout</name>
    </value>
</entry>
<entry>
    <key>session-maintenance-interval</key>
    <value>
        <name>session-maintenance-interval</name>
    </value>
</entry>
<entry>
    <key>user-name</key>
    <value>
        <name>user-name</name>
    </value>
</entry>
<entry>
    <key>user-password</key>
    <value>
        <name>user-password</name>
    </value>
</entry>
<entry>
    <key>authentication-charset</key>
    <value>
        <name>authentication-charset</name>
    </value>
</entry>
<entry>
    <key>proxy-host</key>
    <value>
        <name>proxy-host</name>
    </value>
</entry>
<entry>
    <key>proxy-port</key>
    <value>
        <name>proxy-port</name>
    </value>
</entry>
                            </descriptors>
                            <name>Stratus WS - Traffic</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>input-buffer-size</key>
    <value>4 kb</value>
</entry>
<entry>
    <key>max-text-message-size</key>
    <value>64 kb</value>
</entry>
<entry>
    <key>max-binary-message-size</key>
    <value>64 kb</value>
</entry>
<entry>
    <key>websocket-uri</key>
    <value>ws://192.168.142.152/traffic</value>
</entry>
<entry>
    <key>ssl-context-service</key>
</entry>
<entry>
    <key>connection-timeout</key>
    <value>3 sec</value>
</entry>
<entry>
    <key>session-maintenance-interval</key>
    <value>10 sec</value>
</entry>
<entry>
    <key>user-name</key>
</entry>
<entry>
    <key>user-password</key>
</entry>
<entry>
    <key>authentication-charset</key>
    <value>US-ASCII</value>
</entry>
<entry>
    <key>proxy-host</key>
</entry>
<entry>
    <key>proxy-port</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
                        </controllerServices>
                        <funnels>
                            <id>1a2ea72c-f2d6-3b4b-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>104.0</x>
<y>280.0</y>
                            </position>
                            <versionedComponentId>0c8624ea-7b55-3f18-ab08-3fbac0e7099d</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>5ffcdb73-7442-3475-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>744.0</x>
<y>1344.0</y>
                            </position>
                            <versionedComponentId>1ee423eb-ef50-30e9-b7c4-94f8fbf4d27c</versionedComponentId>
                        </funnels>
                        <funnels>
                            <id>c3424108-56fb-3c74-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1776.0</x>
<y>-112.0</y>
                            </position>
                            <versionedComponentId>3f8d7b59-23b9-3bd4-987c-6b7328bdf5ba</versionedComponentId>
                        </funnels>
                        <labels>
                            <id>baf63f4f-494f-346b-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1072.0</x>
<y>-552.0</y>
                            </position>
                            <versionedComponentId>19a7b501-dce1-3739-9f7f-afce7d71ead4</versionedComponentId>
                            <height>616.0</height>
                            <label>Archive to HDFS</label>
                            <style>
<entry>
    <key>font-size</key>
    <value>18px</value>
</entry>
                            </style>
                            <width>792.0</width>
                        </labels>
                        <processors>
                            <id>0ebe233b-7931-3fd5-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>104.0</x>
<y>992.0</y>
                            </position>
                            <versionedComponentId>04dce2cd-45ef-35a3-b8da-09086cfc04ad</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>addr_type</key>
        <value>
            <name>addr_type</name>
        </value>
    </entry>
    <entry>
        <key>age</key>
        <value>
            <name>age</name>
        </value>
    </entry>
    <entry>
        <key>age_last_alt</key>
        <value>
            <name>age_last_alt</name>
        </value>
    </entry>
    <entry>
        <key>alt</key>
        <value>
            <name>alt</name>
        </value>
    </entry>
    <entry>
        <key>alt_is_gnss</key>
        <value>
            <name>alt_is_gnss</name>
        </value>
    </entry>
    <entry>
        <key>bearing</key>
        <value>
            <name>bearing</name>
        </value>
    </entry>
    <entry>
        <key>bearing_dist_valid</key>
        <value>
            <name>bearing_dist_valid</name>
        </value>
    </entry>
    <entry>
        <key>distance</key>
        <value>
            <name>distance</name>
        </value>
    </entry>
    <entry>
        <key>emitter_category</key>
        <value>
            <name>emitter_category</name>
        </value>
    </entry>
    <entry>
        <key>extrapolated_pos</key>
        <value>
            <name>extrapolated_pos</name>
        </value>
    </entry>
    <entry>
        <key>gnss_diff_from_baro_alt</key>
        <value>
            <name>gnss_diff_from_baro_alt</name>
        </value>
    </entry>
    <entry>
        <key>icao_addr</key>
        <value>
            <name>icao_addr</name>
        </value>
    </entry>
    <entry>
        <key>last_alt</key>
        <value>
            <name>last_alt</name>
        </value>
    </entry>
    <entry>
        <key>last_gnss_diff</key>
        <value>
            <name>last_gnss_diff</name>
        </value>
    </entry>
    <entry>
        <key>last_gnss_diff_alt</key>
        <value>
            <name>last_gnss_diff_alt</name>
        </value>
    </entry>
    <entry>
        <key>last_seen</key>
        <value>
            <name>last_seen</name>
        </value>
    </entry>
    <entry>
        <key>last_source</key>
        <value>
            <name>last_source</name>
        </value>
    </entry>
    <entry>
        <key>last_speed</key>
        <value>
            <name>last_speed</name>
        </value>
    </entry>
    <entry>
        <key>lat</key>
        <value>
            <name>lat</name>
        </value>
    </entry>
    <entry>
        <key>lng</key>
        <value>
            <name>lng</name>
        </value>
    </entry>
    <entry>
        <key>nacp</key>
        <value>
            <name>nacp</name>
        </value>
    </entry>
    <entry>
        <key>nic</key>
        <value>
            <name>nic</name>
        </value>
    </entry>
    <entry>
        <key>on_ground</key>
        <value>
            <name>on_ground</name>
        </value>
    </entry>
    <entry>
        <key>pos_valid</key>
        <value>
            <name>pos_valid</name>
        </value>
    </entry>
    <entry>
        <key>priority_status</key>
        <value>
            <name>priority_status</name>
        </value>
    </entry>
    <entry>
        <key>reg</key>
        <value>
            <name>reg</name>
        </value>
    </entry>
    <entry>
        <key>row_key</key>
        <value>
            <name>row_key</name>
        </value>
    </entry>
    <entry>
        <key>signal_level</key>
        <value>
            <name>signal_level</name>
        </value>
    </entry>
    <entry>
        <key>speed</key>
        <value>
            <name>speed</name>
        </value>
    </entry>
    <entry>
        <key>speed_valid</key>
        <value>
            <name>speed_valid</name>
        </value>
    </entry>
    <entry>
        <key>squawk</key>
        <value>
            <name>squawk</name>
        </value>
    </entry>
    <entry>
        <key>tail</key>
        <value>
            <name>tail</name>
        </value>
    </entry>
    <entry>
        <key>target_type</key>
        <value>
            <name>target_type</name>
        </value>
    </entry>
    <entry>
        <key>time_stamp</key>
        <value>
            <name>time_stamp</name>
        </value>
    </entry>
    <entry>
        <key>track</key>
        <value>
            <name>track</name>
        </value>
    </entry>
    <entry>
        <key>vvel</key>
        <value>
            <name>vvel</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>addr_type</key>
        <value>$.Addr_type</value>
    </entry>
    <entry>
        <key>age</key>
        <value>$.Age</value>
    </entry>
    <entry>
        <key>age_last_alt</key>
        <value>$.AgeLastAlt</value>
    </entry>
    <entry>
        <key>alt</key>
        <value>$.Alt</value>
    </entry>
    <entry>
        <key>alt_is_gnss</key>
        <value>$.AltIsGNSS</value>
    </entry>
    <entry>
        <key>bearing</key>
        <value>$.Bearing</value>
    </entry>
    <entry>
        <key>bearing_dist_valid</key>
        <value>$.BearingDist_valid</value>
    </entry>
    <entry>
        <key>distance</key>
        <value>$.Distance</value>
    </entry>
    <entry>
        <key>emitter_category</key>
        <value>$.Emitter_category</value>
    </entry>
    <entry>
        <key>extrapolated_pos</key>
        <value>$.ExtrapolatedPosition</value>
    </entry>
    <entry>
        <key>gnss_diff_from_baro_alt</key>
        <value>$.GnssDiffFromBaroAlt</value>
    </entry>
    <entry>
        <key>icao_addr</key>
        <value>$.Icao_addr</value>
    </entry>
    <entry>
        <key>last_alt</key>
        <value>$.Last_alt</value>
    </entry>
    <entry>
        <key>last_gnss_diff</key>
        <value>$.Last_GnssDiff</value>
    </entry>
    <entry>
        <key>last_gnss_diff_alt</key>
        <value>$.Last_GnssDiffAlt</value>
    </entry>
    <entry>
        <key>last_seen</key>
        <value>$.Last_seen</value>
    </entry>
    <entry>
        <key>last_source</key>
        <value>$.Last_source</value>
    </entry>
    <entry>
        <key>last_speed</key>
        <value>$.Last_speed</value>
    </entry>
    <entry>
        <key>lat</key>
        <value>$.Lat</value>
    </entry>
    <entry>
        <key>lng</key>
        <value>$.Lng</value>
    </entry>
    <entry>
        <key>nacp</key>
        <value>$.NACp</value>
    </entry>
    <entry>
        <key>nic</key>
        <value>$.NIC</value>
    </entry>
    <entry>
        <key>on_ground</key>
        <value>$.OnGround</value>
    </entry>
    <entry>
        <key>pos_valid</key>
        <value>$.Position_valid</value>
    </entry>
    <entry>
        <key>priority_status</key>
        <value>$.PriorityStatus</value>
    </entry>
    <entry>
        <key>reg</key>
        <value>$.Reg</value>
    </entry>
    <entry>
        <key>row_key</key>
        <value>$.row_key</value>
    </entry>
    <entry>
        <key>signal_level</key>
        <value>$.SignalLevel</value>
    </entry>
    <entry>
        <key>speed</key>
        <value>$.Speed</value>
    </entry>
    <entry>
        <key>speed_valid</key>
        <value>$.Speed_valid</value>
    </entry>
    <entry>
        <key>squawk</key>
        <value>$.Squawk</value>
    </entry>
    <entry>
        <key>tail</key>
        <value>$.Tail</value>
    </entry>
    <entry>
        <key>target_type</key>
        <value>$.TargetType</value>
    </entry>
    <entry>
        <key>time_stamp</key>
        <value>$.Timestamp</value>
    </entry>
    <entry>
        <key>track</key>
        <value>$.Track</value>
    </entry>
    <entry>
        <key>vvel</key>
        <value>$.Vvel</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>HBase-Extract JSON to Attributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>158d2e43-36e2-3937-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>0.0</y>
                            </position>
                            <versionedComponentId>158d2e43-36e2-3937-ab2b-6e1b80ade355</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>{</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>{"row_key":"","process_time":"${process_time}","timestamp_epoch":"",</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Literal Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Append Values to JSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>25b77bdc-8a3d-31e9-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>104.0</x>
<y>1192.0</y>
                            </position>
                            <versionedComponentId>0442f260-6848-3491-bbbd-6b5c348a8485</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>upsert into stratux.traffic values ('${'row_key'}',${'addr_type'},${'age'},${'age_last_alt'},${'alt'},'${'alt_is_gnss'}',${'bearing'},'${'bearing_dist_valid'}',${'distance'},${'emitter_category'},'${'extrapolated_pos'}',${'gnss_diff_from_baro_alt'},${'icao_addr'},'${'last_alt'}','${'last_gnss_diff'}',${'last_gnss_diff_alt'},'${'last_seen'}',${'last_source'},'${'last_speed'}',cast(${'lat'} as float),cast(${'lng'} as float),${'nacp'},${'nic'},'${'on_ground'}','${'pos_valid'}',${'priority_status'},'${'reg'}',${'signal_level'},${'speed'},'${'speed_valid'}',${'squawk'},'${'tail'}',${'target_type'},'${'time_stamp'}',${'track'},${'vvel'})</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Generate UPSERT statement</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>2944b9f5-d0f5-3ed8-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>-112.0</y>
                            </position>
                            <versionedComponentId>8a7cb529-f488-3d4b-a321-3df600f59aee</versionedComponentId>
                            <bundle>
<artifact>nifi-hadoop-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>6</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>
            <name>Hadoop Configuration Resources</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
        <value>
            <name>Kerberos Principal</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
        <value>
            <name>Kerberos Keytab</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Password</key>
        <value>
            <name>Kerberos Password</name>
        </value>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>
            <name>Kerberos Relogin Period</name>
        </value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
        <value>
            <name>Additional Classpath Resources</name>
        </value>
    </entry>
    <entry>
        <key>Directory</key>
        <value>
            <name>Directory</name>
        </value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>
            <name>Conflict Resolution Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Block Size</key>
        <value>
            <name>Block Size</name>
        </value>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
        <value>
            <name>IO Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replication</key>
        <value>
            <name>Replication</name>
        </value>
    </entry>
    <entry>
        <key>Permissions umask</key>
        <value>
            <name>Permissions umask</name>
        </value>
    </entry>
    <entry>
        <key>Remote Owner</key>
        <value>
            <name>Remote Owner</name>
        </value>
    </entry>
    <entry>
        <key>Remote Group</key>
        <value>
            <name>Remote Group</name>
        </value>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>
            <name>Compression codec</name>
        </value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>
            <name>Ignore Locality</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Hadoop Configuration Resources</key>
        <value>/etc/hadoop/conf.cloudera.hdfs/core-site.xml</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>Kerberos Principal</key>
    </entry>
    <entry>
        <key>Kerberos Keytab</key>
    </entry>
    <entry>
        <key>Kerberos Password</key>
    </entry>
    <entry>
        <key>Kerberos Relogin Period</key>
        <value>4 hours</value>
    </entry>
    <entry>
        <key>Additional Classpath Resources</key>
    </entry>
    <entry>
        <key>Directory</key>
        <value>/company/aviation/stratux_traffic</value>
    </entry>
    <entry>
        <key>Conflict Resolution Strategy</key>
        <value>replace</value>
    </entry>
    <entry>
        <key>Block Size</key>
    </entry>
    <entry>
        <key>IO Buffer Size</key>
    </entry>
    <entry>
        <key>Replication</key>
    </entry>
    <entry>
        <key>Permissions umask</key>
    </entry>
    <entry>
        <key>Remote Owner</key>
    </entry>
    <entry>
        <key>Remote Group</key>
    </entry>
    <entry>
        <key>Compression codec</key>
        <value>NONE</value>
    </entry>
    <entry>
        <key>Ignore Locality</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutHDFS</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                        </processors>
                        <processors>
                            <id>323d1bf4-56ef-3b4c-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>368.0</y>
                            </position>
                            <versionedComponentId>323d1bf4-56ef-3b4c-87af-09012d8ded6c</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>//timestamp_epoch</key>
        <value>
            <name>//timestamp_epoch</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>43130a17-ba46-30d5-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>13a8a404-9e21-3acf-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>literal-value</value>
    </entry>
    <entry>
        <key>//timestamp_epoch</key>
        <value>${field.value:toDate("yyyy-MM-dd'T'HH:mm:ss'Z'"):toNumber()}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update Timestamp with Epoch</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                        <processors>
                            <id>78c38057-f961-32a2-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>104.0</x>
<y>1408.0</y>
                            </position>
                            <versionedComponentId>aefbf3b1-a29f-3de8-9820-89c278f45041</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>4</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>4676cdcc-da69-32d0-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>12</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>2000</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UPSERT to Phoenix/HBase</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>88030485-847f-3834-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1232.0</x>
<y>1384.0</y>
                            </position>
                            <versionedComponentId>f40aa924-7bd5-34ed-ad5b-4f3cd79effd9</versionedComponentId>
                            <bundle>
<artifact>nifi-influxdb-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>16</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>influxdb-dbname</key>
        <value>
            <name>influxdb-dbname</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-url</key>
        <value>
            <name>influxdb-url</name>
        </value>
    </entry>
    <entry>
        <key>InfluxDB Max Connection Time Out (seconds)</key>
        <value>
            <name>InfluxDB Max Connection Time Out (seconds)</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-username</key>
        <value>
            <name>influxdb-username</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-password</key>
        <value>
            <name>influxdb-password</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-charset</key>
        <value>
            <name>influxdb-charset</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-consistency-level</key>
        <value>
            <name>influxdb-consistency-level</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-retention-policy</key>
        <value>
            <name>influxdb-retention-policy</name>
        </value>
    </entry>
    <entry>
        <key>influxdb-max-records-size</key>
        <value>
            <name>influxdb-max-records-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>influxdb-dbname</key>
        <value>adsb</value>
    </entry>
    <entry>
        <key>influxdb-url</key>
        <value>#{influxdb_url}</value>
    </entry>
    <entry>
        <key>InfluxDB Max Connection Time Out (seconds)</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>influxdb-username</key>
    </entry>
    <entry>
        <key>influxdb-password</key>
    </entry>
    <entry>
        <key>influxdb-charset</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>influxdb-consistency-level</key>
        <value>ONE</value>
    </entry>
    <entry>
        <key>influxdb-retention-policy</key>
        <value>autogen</value>
    </entry>
    <entry>
        <key>influxdb-max-records-size</key>
        <value>1 MB</value>
    </entry>
</properties>
<runDurationMillis>2000</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ADS-B-PutInfluxDB</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure-max-size</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.influxdb.PutInfluxDB</type>
                        </processors>
                        <processors>
                            <id>8a1eafa6-3b6b-3ac0-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>184.0</y>
                            </position>
                            <versionedComponentId>8a1eafa6-3b6b-3ac0-b457-0858d7a32286</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments>${field.value:toNumber():format("yyyy-MM-dd'T'HH:mm:ss'Z'","ET")}
</comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>//process_time</key>
        <value>
            <name>//process_time</name>
        </value>
    </entry>
    <entry>
        <key>//Timestamp</key>
        <value>
            <name>//Timestamp</name>
        </value>
    </entry>
    <entry>
        <key>//timestamp_epoch</key>
        <value>
            <name>//timestamp_epoch</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>43130a17-ba46-30d5-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>13a8a404-9e21-3acf-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>literal-value</value>
    </entry>
    <entry>
        <key>//process_time</key>
        <value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'")}</value>
    </entry>
    <entry>
        <key>//Timestamp</key>
        <value>${time.stamp:substring(0,19)}Z</value>
    </entry>
    <entry>
        <key>//timestamp_epoch</key>
        <value>${time.stamp:substring(0,19)}Z</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Update Time Values</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                        <processors>
                            <id>a9aa12f8-afd5-35c1-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1232.0</x>
<y>1184.0</y>
                            </position>
                            <versionedComponentId>e582fb26-431c-3827-b7f8-9ba81cbb90b1</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Regular Expression</key>
        <value>
            <name>Regular Expression</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>
            <name>Replacement Value</name>
        </value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>
            <name>Character Set</name>
        </value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>
            <name>Maximum Buffer Size</name>
        </value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>
            <name>Replacement Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>
            <name>Evaluation Mode</name>
        </value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>
            <name>Line-by-Line Evaluation Mode</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Regular Expression</key>
        <value>(?s)(^.*$)</value>
    </entry>
    <entry>
        <key>Replacement Value</key>
        <value>location,tail=${'tail'} longitude=${'lng'} ${'time.stamp.epoch'}000000
location,tail=${'tail'} latitude=${'lat'} ${'time.stamp.epoch'}000000</value>
    </entry>
    <entry>
        <key>Character Set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>Maximum Buffer Size</key>
        <value>1 MB</value>
    </entry>
    <entry>
        <key>Replacement Strategy</key>
        <value>Always Replace</value>
    </entry>
    <entry>
        <key>Evaluation Mode</key>
        <value>Entire text</value>
    </entry>
    <entry>
        <key>Line-by-Line Evaluation Mode</key>
        <value>All</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Generate Influx INSERT</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.ReplaceText</type>
                        </processors>
                        <processors>
                            <id>acde3a08-4dd3-352f-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>544.0</y>
                            </position>
                            <versionedComponentId>acde3a08-4dd3-352f-93fc-dbed9228d28b</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>
            <name>replacement-value-strategy</name>
        </value>
    </entry>
    <entry>
        <key>/row_key</key>
        <value>
            <name>/row_key</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>record-reader</key>
        <value>43130a17-ba46-30d5-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>13a8a404-9e21-3acf-0000-000000000000</value>
    </entry>
    <entry>
        <key>replacement-value-strategy</key>
        <value>record-path-value</value>
    </entry>
    <entry>
        <key>/row_key</key>
        <value>concat(/timestamp_epoch,'-',/Icao_addr)</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Create Salt Key</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.UpdateRecord</type>
                        </processors>
                        <processors>
                            <id>d349231a-e71b-3f8c-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>-560.0</y>
                            </position>
                            <versionedComponentId>15416180-1e9f-3027-8151-8bdd05d47815</versionedComponentId>
                            <bundle>
<artifact>nifi-websocket-processors-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>websocket-client-controller-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
            <name>websocket-client-controller-service</name>
        </value>
    </entry>
    <entry>
        <key>websocket-client-id</key>
        <value>
            <name>websocket-client-id</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>websocket-client-controller-service</key>
        <value>d89bd728-0091-3caf-0000-000000000000</value>
    </entry>
    <entry>
        <key>websocket-client-id</key>
        <value>nifi</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ADS-B-Traffic WS Ingest</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>binary message</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>connected</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>text message</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
                        </processors>
                        <processors>
                            <id>d75462f4-f37d-36a2-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>584.0</x>
<y>984.0</y>
                            </position>
                            <versionedComponentId>6a809cb4-0dc3-34dc-9925-7bc66813b780</versionedComponentId>
                            <bundle>
<artifact>nifi-kafka-2-0-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>bootstrap.servers</key>
        <value>
            <name>bootstrap.servers</name>
        </value>
    </entry>
    <entry>
        <key>topic</key>
        <value>
            <name>topic</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
            <name>record-writer</name>
        </value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>
            <name>use-transactions</name>
        </value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>
            <name>Failure Strategy</name>
        </value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
        <value>
            <name>transactional-id-prefix</name>
        </value>
    </entry>
    <entry>
        <key>acks</key>
        <value>
            <name>acks</name>
        </value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>
            <name>attribute-name-regex</name>
        </value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>
            <name>message-header-encoding</name>
        </value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>
            <name>security.protocol</name>
        </value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>
            <name>sasl.mechanism</name>
        </value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
            <name>kerberos-credentials-service</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
        <value>
            <name>sasl.kerberos.service.name</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
        <value>
            <name>sasl.kerberos.principal</name>
        </value>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
        <value>
            <name>sasl.kerberos.keytab</name>
        </value>
    </entry>
    <entry>
        <key>sasl.username</key>
        <value>
            <name>sasl.username</name>
        </value>
    </entry>
    <entry>
        <key>sasl.password</key>
        <value>
            <name>sasl.password</name>
        </value>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>
            <name>sasl.token.auth</name>
        </value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl.context.service</name>
        </value>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>
            <name>message-key-field</name>
        </value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>
            <name>max.request.size</name>
        </value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>
            <name>ack.wait.time</name>
        </value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>
            <name>max.block.ms</name>
        </value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>
            <name>partitioner.class</name>
        </value>
    </entry>
    <entry>
        <key>partition</key>
        <value>
            <name>partition</name>
        </value>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>
            <name>compression.type</name>
        </value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>
            <name>client.id</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>bootstrap.servers</key>
        <value>#{kafka_brokers}</value>
    </entry>
    <entry>
        <key>topic</key>
        <value>ads-b-traffic</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>43130a17-ba46-30d5-0000-000000000000</value>
    </entry>
    <entry>
        <key>record-writer</key>
        <value>13a8a404-9e21-3acf-0000-000000000000</value>
    </entry>
    <entry>
        <key>use-transactions</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Failure Strategy</key>
        <value>Route to Failure</value>
    </entry>
    <entry>
        <key>transactional-id-prefix</key>
    </entry>
    <entry>
        <key>acks</key>
        <value>0</value>
    </entry>
    <entry>
        <key>attribute-name-regex</key>
        <value>schema.*</value>
    </entry>
    <entry>
        <key>message-header-encoding</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>security.protocol</key>
        <value>PLAINTEXT</value>
    </entry>
    <entry>
        <key>sasl.mechanism</key>
        <value>GSSAPI</value>
    </entry>
    <entry>
        <key>kerberos-credentials-service</key>
    </entry>
    <entry>
        <key>sasl.kerberos.service.name</key>
    </entry>
    <entry>
        <key>sasl.kerberos.principal</key>
    </entry>
    <entry>
        <key>sasl.kerberos.keytab</key>
    </entry>
    <entry>
        <key>sasl.username</key>
    </entry>
    <entry>
        <key>sasl.password</key>
    </entry>
    <entry>
        <key>sasl.token.auth</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl.context.service</key>
    </entry>
    <entry>
        <key>message-key-field</key>
        <value>row_key</value>
    </entry>
    <entry>
        <key>max.request.size</key>
        <value>10 MB</value>
    </entry>
    <entry>
        <key>ack.wait.time</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>max.block.ms</key>
        <value>15 sec</value>
    </entry>
    <entry>
        <key>partitioner.class</key>
        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
    </entry>
    <entry>
        <key>partition</key>
    </entry>
    <entry>
        <key>compression.type</key>
        <value>none</value>
    </entry>
    <entry>
        <key>client.id</key>
        <value>nifi-ads-b-traffic</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Publish to Kafka 'ads-b-traffic'</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0</type>
                        </processors>
                        <processors>
                            <id>e018cfb4-3e7b-315c-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1700.870133327886</x>
<y>1057.6221846157337</y>
                            </position>
                            <versionedComponentId>d5869d1d-25eb-3368-9b4e-969c92a8c951</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Routing Strategy</key>
        <value>
            <name>Routing Strategy</name>
        </value>
    </entry>
    <entry>
        <key>no_geo</key>
        <value>
            <name>no_geo</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Routing Strategy</key>
        <value>Route to Property name</value>
    </entry>
    <entry>
        <key>no_geo</key>
        <value>${lat:equals(0)}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Filter Out No GPS Coordinates</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>no_geo</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                        </processors>
                        <processors>
                            <id>ecab1a5d-ffdf-343f-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>-184.0</y>
                            </position>
                            <versionedComponentId>26aa5666-036d-3a99-9d21-fb4de663d02a</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>mode.s.hex.code</key>
        <value>
            <name>mode.s.hex.code</name>
        </value>
    </entry>
    <entry>
        <key>time.stamp</key>
        <value>
            <name>time.stamp</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>mode.s.hex.code</key>
        <value>$.Icao_addr</value>
    </entry>
    <entry>
        <key>time.stamp</key>
        <value>$.Timestamp</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Capture S Code and TS for Key</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>f48a33ca-2f28-3be9-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1232.0</x>
<y>976.0</y>
                            </position>
                            <versionedComponentId>03e9742e-63ae-3d26-9d37-beb32eaf450f</versionedComponentId>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>lat</key>
        <value>
            <name>lat</name>
        </value>
    </entry>
    <entry>
        <key>lng</key>
        <value>
            <name>lng</name>
        </value>
    </entry>
    <entry>
        <key>speed</key>
        <value>
            <name>speed</name>
        </value>
    </entry>
    <entry>
        <key>tail</key>
        <value>
            <name>tail</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>lat</key>
        <value>$.Lat</value>
    </entry>
    <entry>
        <key>lng</key>
        <value>$.Lng</value>
    </entry>
    <entry>
        <key>speed</key>
        <value>$.Speed</value>
    </entry>
    <entry>
        <key>tail</key>
        <value>$.Tail</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InfluxDB-Extract JSON to Attributes</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>fb018579-8541-3ecc-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>1096.0</x>
<y>-416.0</y>
                            </position>
                            <versionedComponentId>c957d5b0-18b5-3d90-8179-aa921ce26a9e</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>filename</key>
        <value>
            <name>filename</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>filename</key>
        <value>${filename}.tmp</value>
    </entry>
</properties>
<runDurationMillis>2000</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>DISABLED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>fcc45b37-71fd-38d7-0000-000000000000</id>
                            <parentGroupId>5b75c9c1-d2a6-3cd5-0000-000000000000</parentGroupId>
                            <position>
<x>592.0</x>
<y>-368.0</y>
                            </position>
                            <versionedComponentId>fcc45b37-71fd-38d7-8dbd-8e6ea3821096</versionedComponentId>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.13.2.2.1.1.0-13</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>Stratux_Traffic</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Set Schema Name</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>RUNNING</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>Stratux-Traffic</name>
                    <variables/>
                </processGroups>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Aviation</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>02/08/2022 10:40:41 EST</timestamp>
</template>
